*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  

:root{
  --main-color:#deab5f;
  --primary-color:#312e2e;
}

/* utility style */

button{
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

body{
  background: #100e0f;
}

/* nav start */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding: 15px;
}

li{
  display: inline;
  list-style: none;

}

li a{
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
 padding-bottom: 10px;
}

li a:hover{
  border-bottom:2px solid var(--main-color)
}
/* nav end */

/* header style */

.header{
  background-image: url(assets/coffee.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  font-weight: normal;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}

/* main-heaings */
.main-headings{
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;

}

/* primary heading */
.primary-heading{
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

/* main-btn */
.main-btn{
  position: absolute;
  bottom: 10px;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}

/* our-story */
#our-story{
  height: 100vh;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.img{
  width: 400px;
  height: 400px;
  background: url(assets/images-1.jpg);
  background-position: center;
  background-size: cover;
 
}

.line{
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);


}

.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px
}